.myTabs a
{
    color:grey;
}
.myTabs a:hover
{
    color:rgb(83, 83, 83);
}
.nav-tabs .nav-item.nav-link.active{
    color:#007BFF;
}
.nav-tabs .nav-link {
    border-top-left-radius: 0.8rem !important; 
    border-right:1px solid transparent;
}
th.MuiTableCell-root.MuiTableCell-head{
    color:white;
}
a#controlled-tab-example-tab-allrecipes.nav-item.nav-link.active{
    border:none;
    background-color: white;
}
a#controlled-tab-example-tab-incorrect.nav-item.nav-link.active{
    border:none;
    background-color: white;
}
a#controlled-tab-example-tab-untagged.nav-item.nav-link.active{
    border:none;
    background-color: white;
}
a#controlled-tab-example-tab-disabled.nav-item.nav-link.active{
    border:none;
    background-color: white;
}
a#controlled-tab-example-tab-allrecipes.nav-item.nav-link{
    border:none;
    background-color:#f4f9fd;
}
a#controlled-tab-example-tab-incorrect.nav-item.nav-link{
    border:none;
    background-color:#f4f9fd;
}
a#controlled-tab-example-tab-untagged.nav-item.nav-link{
    border:none;
    background-color:#f4f9fd;
}
a#controlled-tab-example-tab-disabled.nav-item.nav-link{
    border:none;
    background-color:#f4f9fd;
}